## Categorical Encoding

It refers to transforming categorical variable into a set of binary variables (also known as dummy variables)

- One Hot Encoding

It consists in encoding each categorical variable with a set of boolean variables which take values 0 or 1, indicating if a category is present for each observation

In [11]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [12]:
Data=pd.DataFrame({'City':[
'Delhi','Mumbai','Hydrabad','Chennai','Bangalore','Delhi','Hydrabad','Bangalore','Delhi'
]})
Data

        City
0      Delhi
1     Mumbai
2   Hydrabad
3    Chennai
4  Bangalore
5      Delhi
6   Hydrabad
7  Bangalore
8      Delhi

In [13]:
pdata = pd.get_dummies(Data['City']) ## using pandas
pdatak = pd.get_dummies(Data['City'], drop_first= True) ## using pandas For K-1
pdata

   Bangalore  Chennai  Delhi  Hydrabad  Mumbai
0          0        0      1         0       0
1          0        0      0         0       1
2          0        0      0         1       0
3          0        1      0         0       0
4          1        0      0         0       0
5          0        0      1         0       0
6          0        0      0         1       0
7          1        0      0         0       0
8          0        0      1         0       0

#### One Hot Encoding of Top categories Means it will take most frequent count of categories form Feature.

In [14]:
Data['City'].value_counts().sort_values(ascending= False)

Delhi        3
Hydrabad     2
Bangalore    2
Mumbai       1
Chennai      1
Name: City, dtype: int64

## Label, Ordinal Or Integer Encoding.

Consist in replacing the categories by digits from 1 to n (or 0 to n-1, depending the implementation), where n is the number of distinct categories of the variable.

The numbers are assigned arbitrarily.

This encoding method allows for quick benchmarking of machine learning models

In [15]:
le = LabelEncoder() # it can tranform one variable at a time.
le.fit(Data['City'])

LabelEncoder()

In [16]:
le.classes_

array(['Bangalore', 'Chennai', 'Delhi', 'Hydrabad', 'Mumbai'],
      dtype=object)

In [17]:
Data['City'] = le.transform(Data['City'])
Data

   City
0     2
1     4
2     3
3     1
4     0
5     2
6     3
7     0
8     2

## Count / Frequency Encoding 

Categories are replaced by the count or percentage of observations that show that category in the dataset.

Captures the representation of each label in a dataset

Very popular encoding method in Kaggle competitions.

Assumption: the number observations shown by each category is predictive of the target.

[  work well enough with tree based algorithms

If 2 different categories appear the same amount of times in the dataset, that is, they appear in the same number of observations, they will be replaced by the same number

may lose valuable information.  ]

## Mean Or Target Encoding

It implies replacing the category by the average target value for that category.

Creates monotonic relationship between categories and target.

May lead to over-fitting

If 2 categories show the same mean of target, they will be replaced by the same number => potential loss of value

## Binary and Hashing Encoding

- Binary Encoding Use binary code, a collection of 0s and 1s, to encode the meaning of the variable.Individually derived variable lack human readable meaning.

- Feature hashing Use a hashing method, any of choice, to encode the variables.

#### For Categorical Encoding we can also use libraries like : Category Encoders, Sklearn, Feature-Engine. 
Can also refer this [Link](https://contrib.scikit-learn.org/category_encoders/index.html)